<div class="user-details-container">
    <div class="top-right">
        <button class="btn btn-secondary" [routerLink]="['/']">Volver a la búsqueda</button>
    </div>
    @if (user) {
        <div class="user-details">
            <h3>{{ user.login }}</h3>
            <img [src]="user.avatar_url" alt="Avatar de {{ user.login }}" class="avatar mb-3">
            <p>ID: {{ user.id }}</p>
            <p>Nodo ID: {{ user.node_id }}</p>
            <p>
                <a [href]="user.repos_url" target="_blank"> Repos URL </a>
            </p>
        </div>
    } @else {
        <h3 class="no-user"> Sin información del usuario </h3>
        <h5>
            <a [routerLink]="['/']"> Volver a la búsqueda </a>
        </h5>
    }
</div>
